.mensaje{
    margin-bottom: 40px;
}
.mensaje p{
    font-size: 20px;
}
.blanco{
    grid-column: 1/2;
    z-index: 10;
    width: 100%;
    background: white;
}
.blanco2{
    grid-column: 7/8;
    z-index: 11;
    width: 100%;
    background: white;
}
.main2{
    padding-top: 15px;
    grid-column: 1/8;
    grid-template-columns: 12% 22% auto 22% auto 22% 12%;
    display: grid;
    z-index: 10;
    background: white;
}
.titulomer h2{
    padding-right: 40px;
}
.titulomer h2:hover{
    padding-right: 40px;
}
.item4{
    grid-column: 2/3;
}
.item5{
    grid-column: 4/5;
}
.item6{
    grid-column: 6/7;
}
.main3{
    padding-top: 15px;
    grid-column: 1/8;
    grid-template-columns: 12% 22% auto 22% auto 22% 12%;
    display: grid;
    z-index: 10;
    background: white;
}
.item7{
    grid-column: 2/3;
}
.item8{
    grid-column: 4/5;
}
footer{
    z-index: 11;
}
@media (max-width: 640px) {
    .main2{
        grid-template-columns: 12% 76% 12%;
        display: grid;
    }
    .item4{
        grid-column: 2/3;
        grid-template-columns: 45% 2% 53%;
        display: grid;
    }
    .item5{
        grid-column: 2/3;
        grid-template-columns: 45% 2% 53%;
        display: grid;
        padding-top: 20px;
    }
    .item6{
        grid-column: 2/3;
        grid-template-columns: 45% 2% 53%;
        display: grid;
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .main3{
        grid-template-columns: 12% 76% 12%;
        display: grid;
    }
    .item7{
        grid-column: 2/3;
        grid-template-columns: 45% 2% 53%;
        display: grid;
    }
    .item8{
        grid-column: 2/3;
        grid-template-columns: 45% 2% 53%;
        display: grid;
        padding-top: 20px;
        padding-bottom: 70px;
    }
}